[Desktop Entry]
Name=Windows 98
X-KDE-PluginInfo-Author=Leonardo Borges
X-KDE-PluginInfo-Website=https://github.com/XxPregoxX/win98-desktop
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Name=Win98
X-KDE-PluginInfo-Version=1.0
